---
conditions: v1

stages:
  - name: test
  - name: deploy
    if: tag IS present

sudo: required
dist: xenial
language: python

branches:
  only:
  - master
  - /^v\d+\.\d+\.\d+$/

cache: pip
jobs:
  fast_finish: true
  include:
    - python: 3.7
      env: TOXENV=linting TOXCFG=tox.ini
      stage: test

    - python: 3.8
      env: TOXENV=py38 TOXCFG=tox.ini
      stage: test

    - python: 3.7
      env: TOXENV=py37 TOXCFG=tox.ini
      stage: test

    - python: 3.9
      env: TOXENV=py39 TOXCFG=tox.ini
      stage: test

    - stage: deploy
      python: 3.7
      install:
        - sudo apt-get update
        - sudo apt-get -y install nsis
        - pip install pynsist tabulate jsondiff openpyxl>=2.6.0
      script: pynsist installer.cfg
      deploy:
        provider: releases
        api_key: ${GITHUB_DEPLOY_TOKEN}
        file: build/nsis/elisctl_rossum_3.15.0.exe
        skip_cleanup: true
        on:
          tags: true

    - stage: deploy
      script: skip
      python: 3.7
      deploy:
        edge: true
        provider: pypi
        username: "__token__"
        password: ${PYPI_DEPLOY_TOKEN}
        on:
          tags: true


# Hotfix: setuptools is capped at version 59, as newer versions seem to have issues with importlib_metadata in python 3.7.
# See e.g. https://app.travis-ci.com/github/rossumai/rossum/jobs/560023987
install:
  - pip install tox-travis "setuptools<60" --upgrade

# command to run tests
script:
  - tox -c ${TOXCFG}
